.footerLink{
    /* background-color: var(--theme-color); */
    padding: 70px 0;
}
.footerLink .row > div {
    background-color: #3f47cc1a;
    padding: 20px 20px;
}
.heading {}
.footerLink .heading h2 {
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 22px;
    color: var(--theme-color);
    /* font-family: 'Bebas Neue', cursive; */
    text-align: left;
    position: relative;
    padding: 0 0;
    font-weight: 900;

}
.footerLink .head {
    
    margin-bottom: 25px;
}
.footerLink .head h2 {
    font-size: 38px;
    font-weight: 900;
    margin-top: 0;
}
.footerLink p{ 
        font-size: 18px;
        padding-top: 1rem;
        /* text-align: center; */
        color: rgb(49, 47, 67);
        margin-bottom: 20px;
        /* max-width: 800px; */
        margin-left: auto;
        margin-right: auto;
   
}
.footerLink p a{
    color: var(--purple);
}

@media(max-width: 575px){
    .footerLink {
        /* background-color: var(--theme-color); */
        padding: 30px 12px;
    }
    .footerLink .head h2 {
        font-size: 28px; 
    }
    .footerLink .head {
        margin-bottom: 10px;
    }
    .footerLink p {
        font-size: 16px;
    }
    .footerLink .heading h2 {
        margin-top: 25px; 
        font-size: 20px;
        
    }
    .footerLink .row > div { 
        padding: 0px 10px;
    }

}